<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Should I Drive?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Calculate your driving cost.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <script defer data-domain="fuel.xtrek.co.za" src="https://plausible.io/js/plausible.js"></script>

  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
<div class="container">

  <div class="text-center p-3">
    <h1 class="display-2">Should I Drive?</h1>
  </div>

  <div id="loading">Application Loading...</div>

  <div id="app" v-cloak>

    <div class="input-group mb-3">
      <span class="input-group-text">Travel Distance</span>
      <input type="number" class="form-control"
             v-model.number="km">
      <span class="input-group-text">km</span>
    </div>
    <p><small class="text-muted">Enter driving distance directly in the form above or use the form below to
      calculate. When searching, specify country or region for better results.</small></p>

    <div class="row">
      <div class="col-sm-12 col-md-4"><input v-model="fromQuery" type="text" class="form-control" placeholder="From">
      </div>
      <div class="col-sm-12 col-md-4 mt-md-0 mt-2"><input v-model="toQuery" type="text" class="form-control"
                                                          placeholder="To"></div>
      <div class="col-sm-12 col-md-4 mt-md-0 mt-2">
        <button class="btn btn-secondary" @click="calculate" :disabled="loading">Get Distance</button>
      </div>
    </div>

    <div v-if="loading" class="alert alert-secondary mt-3" role="alert">
      Calculating distance...
    </div>

    <div v-if="errorMessage" class="alert alert-danger alert-dismissible mt-3" role="alert">
      {{ errorMessage }}
    <button type="button" class="btn-close" @click="errorMessage = ''" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <div class="text-center py-5">
      <h3 class="display-6">Estimated Cost: {{ total_cost_display }}</h3>
    </div>

    <p>The calculation above is based on the following figures:</p>

    <div class="input-group mb-3">

      <span class="input-group-text">Fuel Economy</span>

      <template v-if="economyFormat === 'kmpl'">
        <input type="number" class="form-control"
               v-model.number="kmpl">
        <span class="input-group-text">km per liter</span>
      </template>
      <template v-if="economyFormat === 'lpkm'">
        <input type="number" class="form-control"
               v-model.number="lpkm">
        <span class="input-group-text">liter per 100km</span>
      </template>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Fuel Cost</span>
      <input type="number" class="form-control"
             v-model.number="costPerLiter">
      <span class="input-group-text">per liter</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Running Cost</span>
      <input type="number" class="form-control"
             v-model.number="runningCost">
      <span class="input-group-text">per km</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Additional Cost</span>
      <input type="number" class="form-control"
             v-model.number="additionalCost">
    </div>
    <p><small class="text-muted">Additional costs are road tolls, parking fees etc. All amounts should be entered in
      your local currency.</small></p>

    <hr>
    <p>Display Options</p>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label for="currency-select" class="form-label">Currency</label>
        <select class="form-select" id="currency-select" v-model="currency">
          <option value="ZAR">ZAR</option>
          <option value="SEK">SEK</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6 mt-2 mt-md-0">
        <label for="economy-format-select" class="form-label">Fuel Economy</label>
        <select class="form-select" id="economy-format-select" v-model="economyFormat">
          <option value="kmpl">km / liter</option>
          <option value="lpkm">liter / 100km</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-3 bg-light text-center mt-5">
  <p class="m-0">Another efficient solution by Hartebees Ventures. Looking for a solution for your business? Get in
    touch: <a href="mailto:info@hartebees.co.za">info@hartebees.co.za</a></p>
</div>

<script src="https://unpkg.com/vue@3"></script>

<script>

  const v = function (key, dv) {
    // dv is default value
    const savedValue = localStorage.getItem(key)
    if (typeof dv === 'number' && savedValue) return +savedValue
    return savedValue || dv
  }


  const app = Vue.createApp({
    mounted() {
      document.querySelector('#loading').style.display = 'none'
    },
    data() {
      return {
        km: v('km', 100),
        kmpl: v('kmpl', 13),
        lpkm: v('lpkm', 6.5),
        costPerLiter: v('costPerLiter', 24.3),
        runningCost: v('runningCost', 0),
        routing: null, // the api response
        fromQuery: "",
        toQuery: "",
        loading: false,
        additionalCost: 0,
        currency: v('currency', 'ZAR'),
        economyFormat: v('economyFormat', 'kmpl'),
        errorMessage: "",
      }
    },
    created() {
      const keys = [
        'kmpl',
        'lpkm',
        'costPerLiter',
        'runningCost',
        'currency',
        'economyFormat',
      ]
      keys.forEach(key => {
        this.$watch(key, (newVal) => {
          localStorage.setItem(key, newVal)
        })
      })
    },
    computed: {
      economy() {
        // returns km/l fuel usage
        if (this.economyFormat === 'kmpl') return this.kmpl
        if (this.economyFormat === 'lpkm') return 100 / this.lpkm
      },
      liters_consumed() {
        return this.km / this.economy
      },
      total_cost() {
        return (this.liters_consumed * this.costPerLiter) + this.additionalCost + (this.km * this.runningCost)
      },
      total_cost_display() {
        if (!this.currency) return this.total_cost.toFixed(2)
        return (new Intl.NumberFormat('en-GB', {style: 'currency', currency: this.currency})).format(this.total_cost)
      }
    },
    methods: {
      geocode(dataAttr) {
        const s = this[dataAttr]
        return new Promise((resolve) => {
          const q = encodeURIComponent(s)
          const url = `https://nominatim.openstreetmap.org/search?q=${q}&format=json`
          fetch(url).then(resp => resp.json()).then(data => {
            if (data.length === 0) {
              // no results found
              this.errorMessage = `Could not find location using query "${s}"`
              resolve(null)
            }
            const result = data[0]
            this[dataAttr] = data[0]['display_name']
            resolve(`${result.lon},${result.lat}`)
          })
        })
      },
      calculate() {
        this.loading = true
        Promise.all([this.geocode('fromQuery'), this.geocode('toQuery')]).then(values => {
          const [f, t] = values
          if (!(f && t)) {
            // one of the queries could not be geocoded
            // which should already indicate an error
            this.loading = false
            return
          }
          const url = `https://routing.openstreetmap.de/routed-car/route/v1/driving/${f};${t}`
          fetch(url).then(resp => resp.json()).then(data => {
            this.routing = data
            if (data.code === 'Ok') {
              this.km = Math.round(data.routes[0].legs[0].distance / 1000)
            } else {
              this.errorMessage = "No route available between locations."
            }
            this.loading = false
          }).catch(err => {
            this.errorMessage = "Error retrieving distance from routing server."
            console.error(err)
            this.loading = false
          })
        }).catch(err => {
          console.error(err)
          this.loading = false
        })


      }
    }
  })

  app.mount('#app')
</script>
</body>

</html>